.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.2s;
  // margin: 10px;
  .Avatar {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
  }
  .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.2s;
    margin: 10px;
  }
  .img:hover {
    transform: scale(1.03);
  }
}
